#price_calculator {
    border: 1px solid #009688;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}

#price_calculator-header {
    color: #fff;
    background: #009688;
    border-bottom: 1px solid #009688;
    padding: 10px 0;
}

#price_calculator-providers select {
    text-align-last: center;
    width: 350px;
    margin: 25px 0 10px;
}

#price_calculator-providers select:focus {
    outline: none;
}

.control-container {
    padding: 10px 0;
}

.control-label {
    color: #9e9e9e;
    font-size: 12px;
    font-weight: bold;
    text-align: left;
    margin-top: 45px;
}

.control-label .label-desc {
    color: #bdbdbd;
    font-size: 10px;
    font-weight: 400;
    margin-top: 2px;
    float: right
}

#price_calculator-controls {
    width: 350px;
    margin: 0 auto;
}

#price_calculator-controls .noUi-horizontal {
    /*margin: 100px 0 50px;*/
    height: 14px;
}

#price_calculator-controls .noUi-horizontal:first-child {
    margin-top: 50px;
}

#price_calculator-controls .noUi-horizontal .noUi-handle {
    height: 22px;
}

#price_calculator-controls .noUi-horizontal .noUi-handle:before,
#price_calculator-controls .noUi-horizontal .noUi-handle:after {
    height: 9px;
}

#price_calculator-controls .noUi-connect {
    background: #009688;
}

#price_calculator-controls .noUi-tooltip {
    color: #757575;
    font-size: 11px;
    font-weight: bold;
}

.noUi-marker-horizontal.noUi-marker {
    width: 1px !important;
}

.noUi-pips {
    font-size: 11px;
}

.noUi-value {
    margin-top: 10px;
}

#price_calculator-total-price {
    color: #fff;
    background: #009688;
    font-size: 16px;
    margin: 15px 0 -10px;
    padding: 5px 0 15px;
}

.total-price {
    font-size: 22px;
    font-weight: 300;
    margin-left: 5px;
}

.total-price-currency {
    color: #b2dfdb;
    font-weight: 300;
    margin-left: -5px;
}

#price_calculator-loader {
    border: 3px solid #e0f2f1;
    border-top: 3px solid #009688;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1.5s linear infinite;
    margin: 15px auto;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
