<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RSS Reader</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.2.0/normalize.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div id="rssreaderapp">
    <div id="rssreader-header">
        <div class="rssreader-title">
            <h3>RSS/Atom Reader</h3>
        </div>
        <div class="rssreader-control">
            <input type="text" id="feedUrl" placeholder="URL"
                   onfocus="this.placeholder=''"
                   onblur="this.placeholder='URL'"/>
            <button id="addFeedBtn">Add</button>
        </div>
    </div>
    <!--<div id="rssreader-empty">
        <p>Feed list is empty. Go add something!</p>
    </div>-->
    <div id="rssfeeds">
        <ul>
            <li><a href="#rssfeedtab-1">Feed 1</a><span
                    class="ui-icon ui-icon-close" role="presentation">Delete Feed</span>
            </li>
            <li><a href="#rssfeedtab-2">Feed 2</a><span
                    class="ui-icon ui-icon-close" role="presentation">Delete Feed</span>
            </li>
            <li><a href="#rssfeedtab-3">Feed 3</a><span
                    class="ui-icon ui-icon-close" role="presentation">Delete Feed</span>
            </li>
        </ul>
        <div id="rssfeedtab-1">

            <div class="feednews">
                <div class="feednews-title">
                    <a href="#" target="_blank">Title</a>
                </div>
                <div class="feednews-description">
                    <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo
                        a, risus. Curabitur nec arcu. Donec sollicitudin mi sit
                        amet mauris. Nam elementum quam ullamcorper ante. Etiam
                        aliquet massa et lorem. Mauris dapibus lacus auctor
                        risus. Aenean tempor ullamcorper leo. Vivamus sed magna
                        quis ligula eleifend adipiscing. Duis orci. Aliquam
                        sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam
                        molestie erat. Ut et mauris vel pede varius
                        sollicitudin. Sed ut dolor nec orci tincidunt interdum.
                        Phasellus ipsum. Nunc tristique tempus lectus.</p>
                </div>
            </div>

            <div class="feednews">
                <div class="feednews-title">
                    <a href="#" target="_blank">Title</a>
                </div>
                <div class="feednews-description">
                    <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo
                        a, risus. Curabitur nec arcu. Donec sollicitudin mi sit
                        amet mauris. Nam elementum quam ullamcorper ante. Etiam
                        aliquet massa et lorem. Mauris dapibus lacus auctor
                        risus. Aenean tempor ullamcorper leo. Vivamus sed magna
                        quis ligula eleifend adipiscing. Duis orci. Aliquam
                        sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam
                        molestie erat. Ut et mauris vel pede varius
                        sollicitudin. Sed ut dolor nec orci tincidunt interdum.
                        Phasellus ipsum. Nunc tristique tempus lectus.</p>
                </div>
            </div>

            <div class="feednews">
                <div class="feednews-title">
                    <a href="#" target="_blank">Title</a>
                </div>
                <div class="feednews-description">
                    <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo
                        a, risus. Curabitur nec arcu. Donec sollicitudin mi sit
                        amet mauris. Nam elementum quam ullamcorper ante. Etiam
                        aliquet massa et lorem. Mauris dapibus lacus auctor
                        risus. Aenean tempor ullamcorper leo. Vivamus sed magna
                        quis ligula eleifend adipiscing. Duis orci. Aliquam
                        sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam
                        molestie erat. Ut et mauris vel pede varius
                        sollicitudin. Sed ut dolor nec orci tincidunt interdum.
                        Phasellus ipsum. Nunc tristique tempus lectus.</p>
                </div>
            </div>

            <div class="feednews">
                <div class="feednews-title">
                    <a href="#" target="_blank">Title</a>
                </div>
                <div class="feednews-description">
                    <p>Proin elit arcu, rutrum commodo, vehicula tempus, commodo
                        a, risus. Curabitur nec arcu. Donec sollicitudin mi sit
                        amet mauris. Nam elementum quam ullamcorper ante. Etiam
                        aliquet massa et lorem. Mauris dapibus lacus auctor
                        risus. Aenean tempor ullamcorper leo. Vivamus sed magna
                        quis ligula eleifend adipiscing. Duis orci. Aliquam
                        sodales tortor vitae ipsum. Aliquam nulla. Duis aliquam
                        molestie erat. Ut et mauris vel pede varius
                        sollicitudin. Sed ut dolor nec orci tincidunt interdum.
                        Phasellus ipsum. Nunc tristique tempus lectus.</p>
                </div>
            </div>

        </div>
        <div id="rssfeedtab-2">
            <p>Morbi tincidunt, dui sit amet facilisis feugiat, odio metus
                gravida ante, ut pharetra massa metus id nunc. Duis scelerisque
                molestie turpis. Sed fringilla, massa eget luctus malesuada,
                metus eros molestie lectus, ut tempus eros massa ut dolor.
                Aenean aliquet fringilla sem. Suspendisse sed ligula in ligula
                suscipit aliquam. Praesent in eros vestibulum mi adipiscing
                adipiscing. Morbi facilisis. Curabitur ornare consequat nunc.
                Aenean vel metus. Ut posuere viverra nulla. Aliquam erat
                volutpat. Pellentesque convallis. Maecenas feugiat, tellus
                pellentesque pretium posuere, felis lorem euismod felis, eu
                ornare leo nisi vel felis. Mauris consectetur tortor et
                purus.</p>
        </div>
        <div id="rssfeedtab-3">
            <p>Mauris eleifend est et turpis. Duis id erat. Suspendisse potenti.
                Aliquam vulputate, pede vel vehicula accumsan, mi neque rutrum
                erat, eu congue orci lorem eget lorem. Vestibulum non ante.
                Class aptent taciti sociosqu ad litora torquent per conubia
                nostra, per inceptos himenaeos. Fusce sodales. Quisque eu urna
                vel enim commodo pellentesque. Praesent eu risus hendrerit
                ligula tempus pretium. Curabitur lorem enim, pretium nec,
                feugiat nec, luctus a, lacus.</p>
            <p>Duis cursus. Maecenas ligula eros, blandit nec, pharetra at,
                semper at, magna. Nullam ac lacus. Nulla facilisi. Praesent
                viverra justo vitae neque. Praesent blandit adipiscing velit.
                Suspendisse potenti. Donec mattis, pede vel pharetra blandit,
                magna ligula faucibus eros, id euismod lacus dolor eget odio.
                Nam scelerisque. Donec non libero sed nulla mattis commodo. Ut
                sagittis. Donec nisi lectus, feugiat porttitor, tempor ac,
                tempor vitae, pede. Aenean vehicula velit eu tellus interdum
                rutrum. Maecenas commodo. Pellentesque nec elit. Fusce in lacus.
                Vivamus a libero vitae lectus hendrerit hendrerit.</p>
        </div>
    </div>
</div>

<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.3/jquery.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.3.3/backbone-min.js"></script>
<script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/backbone-localstorage.js/1.1.16/backbone.localStorage-min.js"></script>
<script type="text/javascript"
        src="{{ url_for('static', filename='main.js') }}"></script>
</body>
</html>
