body {
    background: #f3f3f3;
}

#rssreaderapp {
    font-size: 12px;
    border: 1px solid #d6b161;
    border-radius: 3px;
    margin: 50px auto;
    width: 600px;
    overflow: hidden;
    position: relative;
}

#rssreader-overlay {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: none;
}

#rssreader-overlay .rssreader-overlay-loading {
    text-align: center;
    margin-top: 25px;
}

#rssreader-header {
    background: #dfe5f9;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 20px 15px 30px;
}

#rssreader-header .rssreader-title {
    float: left;
}

#rssreader-header .rssreader-title h3 {
    color: #004a99;
    margin: 0;
}

#rssreader-header .rssreader-control {
    float: right;
}

#rssreader-settings button,
#rssreader-header .rssreader-control button {
    color: #fff;
    background: #d6b161;
    border: none;
    border-radius: 3px;
    margin-left: 2px;
    padding: 5px 6px 5px 5px;
    outline: none;
}

#rssreader-settings button:hover,
#rssreader-header .rssreader-control button:hover {
    background: #cb9d39;
}

#rssreader-empty {
    background: #dfe5f9;
    padding: 5px 15px;
}

#rssfeeds {
    clear: both;
    border: none;
}

#rssfeeds .ui-widget-header {
    background: #dfe5f9;
    border: none;
    border-bottom: 1px solid #d6b161;
}

#rssfeeds.ui-tabs.ui-corner-all.ui-widget.ui-widget-content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

/*#rssfeeds .ui-corner-bottom {*/
/*border-bottom-left-radius: 0;*/
/*border-bottom-right-radius: 0;*/
/*}*/

#rssfeeds.ui-tabs {
    padding: 0;
}

#rssfeeds ul[role="tablist"] li,
#rssfeeds ul[role="tablist"] li a {
    outline: none;
}

#rssfeeds ul[role="tablist"] li.ui-state-active {
    background: #7986cb;
    border: 1px solid #5c6bc0;
}

#rssfeeds ul[role="tablist"] li span {
    background-position: -80px -126px;
    display: none;
}

div[id^="rssfeedtab-"] .feednews .feednews-title {
    padding: 10px 0 0;
}

div[id^="rssfeedtab-"] .feednews .feednews-title a,
div[id^="rssfeedtab-"] .feednews .feednews-title a:visited {
    color: #004a99;
    font-weight: bold;
    text-decoration: none;
}

div[id^="rssfeedtab-"] .feednews .feednews-title a:hover {
    text-decoration: underline;
}

div[id^="rssfeedtab-"] .feednews .feednews-description img {
    max-width: 550px;
    padding: 10px;
}

div[id^="rssfeedtab-"] .feednews {
    border-bottom: 1px solid #bdbdbd;
    margin-bottom: 10px;
}

div[id^="rssfeedtab-"] .feednews:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

/********** Settings Window **********/

.ui-widget-overlay {
    background: #000;
    opacity: .6;
    filter: Alpha(Opacity=60)
}

#rssreader-settings {
    font-size: 12px;
    padding: 10px;
}

#rssreader-settings input {
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    padding: 5px;
    width: 280px;
    outline: none;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
}

#rssreader-settings input:focus {
    border: 1px solid #d6b161;
    box-shadow: 0 0 5px #d6b161;
}

#rssreader-settings input::-webkit-input-placeholder {
    text-align: center;
}

#rssreader-settings-feedlist {
    padding-left: 20px;
}

#rssreader-settings-feedlist li {
    margin-bottom: 10px;
}

#rssreader-settings-feedlist li a {
    float: right;
    text-decoration: none;
}

#rssreader-settings-feedlist li a:hover {
    text-decoration: underline;
}
